*{
    margin: 0;
    padding: 0;
}

.characters{
    display: grid;
    grid-template-columns: repeat(2 1fr);
}

header{
    background-color: tomato;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    align-items: center;
}

header>img{
    max-height: 8vh;
    margin: 0 1rem;
}

header>nav>ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-evenly;
}

header>nav>ul>li{
    list-style: none;
    padding: 2rem;
}

header>nav>ul>li:hover{
    background-color: rgb(255, 66, 32);
}

header>nav ul a{
    color: white;
    text-decoration: none;
    font-size: larger;
}

article{
    margin: 2rem;
}

.characters>.characters-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-content: center;
}

.character-container{
    text-align: center;
    margin: 2rem;
}